<h2> New celebrity</h2>

<form action="/celebrities/create" method="POST">
  <label for="">
    Name
    <input style="color:black" type="text" name="name" />
  </label>
  <label for="">
    Occupation
    <input style="color:black" type="text" name="occupation" />
  </label>
  <label for="">
    Catch Phrase
    <input style="color:black" type="text" name="CatchPhrase" />
  </label>

  <button class="m-1 btn btn-secondary" type="submit">Create Celebrity</button>
  
</form>

<a href="/celebrities">Link to celebrities</a>