body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(/images/bg1.jpg);
  background-size: cover;
}

a {
  color: #00b7ff;
}

*{
  color:white
}

